<!-- TODO: Header? -->
<div class="main-content">
    <h1>Welcome to the Voting App</h1>

    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>
</div>
</body>
</html>
