<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div>
  <title>Voting App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="main-content">
    <h1 class="retro-heading">Welcome To Click & Vote</h1>
    <h3>New Here? Create An Account Below And Vote On The World's <br> Biggest Controversial Debates!!</h3>
    <div class="button-container">
      <a href="/signup" class="action-button">Signup</a>
      <a href="/login" class="action-button">Login</a>
    </div>
  </div>
</div>
</body>
</html>
